body {
  background: radial-gradient(#bebdbd, #fff, #bebdbd);
}

.infinite-scroll-component {
  overflow: hidden !important; /* Hide scrollbars */
}

.center {
  margin-left: 50%;
  margin-top: 20%;
}

.searchbar {
  margin-top: 2%;
  margin-left: 40%;
  width: 15%;
}

.results {
  margin-left: 40%;
  margin-top: 1%;
  margin-bottom: 3%;
  width: 15%;
}


.amt {
  width: 100% !important;
}

.btn-primary{
  height: 10% !important;  
}




@media screen and (max-width: 350px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .searchbar {
    margin-left: 15%;
    margin-right: 80%;
    width: 50%;
  }

  .albums {
    margin-right: 20%;
  }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .searchbar {
    margin-left: 20%;
    margin-right: 80%;
    width: 40%;
  }

  

  .albums {
    margin-right: 10%;
  }

  .amt {
    float: none;
    margin-top: 5% !important;
    margin-left: 100% !important;
  }

  

  .results {
    margin-left: 30%;
    margin-top: 10% !important;
    margin-bottom: 5% !important;
  }

  .custom-select{
    width: 275% !important;
  }

  .custom-select option{
    width: 100% !important;
  }

  .btn{
    margin-top: 1% !important;
  }
}

@media screen and (min-device-width: 460px) and (max-device-width: 1024px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }

  .searchbar {
    margin-left: 20%;
    margin-right: 80%;
    width: 60%;
  }

  .albums {
    margin-right: 10%;
  }

  .amt {
    float: none;
    margin-top: 5% !important;
    margin-left: 20% !important;
  }

  .dropdownBtn {
    float: none;
    margin-top: 1% !important;
    margin-left: 20% !important;
  }

  .results {
    margin-left: 15%;
    margin-top: 5% !important;
    margin-bottom: 4% !important;
  }
}

@media screen and (max-width: 1100px) {
  html {
    width: 100vw;
    overflow-x: hidden;

  }

  .searchbar {
    margin-left: 30%;
    margin-right: 70%;
    width: 40%;
  }

  .albums {
    margin-right: 5%;
  }

}
